body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 1400px;
    
}
.main-header {
    background-color: #fff;  
} 
.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    padding: 0;
/*    background-color: #ad5353;*/
    font-size: 0;
}
.container:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 331px;
    width: 1px;
    height: 100%;
    background-color: #ebebeb;
}
.container .logo,
.container .main-navigation,
.container .client-help {
    display: inline-block;
    vertical-align: top;
}
.container .logo {
    width: 255px;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: url("../img/logo.png") no-repeat 1px 50%;
    font-size: 30px;
    line-height: 24px;
}

.main-navigation {
    width: 570px;
}
.main-navigation ul {
    padding: 0;
    margin: 0;

}
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
    padding-bottom: 60px;
    list-style: none;
}
.main-navigation a {
    text-decoration: none;
    color: #202242;
    font-size: 16px;
    line-height: 24px;
    margin-left: 37px;
    text-transform: uppercase;
} 
.main-navigation .active {
    color: #ffe34b;
}
.client-help {
    width: 300px;
    position: relative;
}
.first-row {
    font-size: 12px;
    line-height: 24px;
    width: 283px;
    margin-top: 25px;
    margin-bottom: 14px;
    margin-left:17px;
}
.client-help .btn {
    display: inline-block;
    vertical-align: top;
    width: 62px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left:16px;
    margin-right: 12px;
    background-color: #ffe13e;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #2f2f42;
}
.client-help .phone {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin: 0;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 9px;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 24px;
    
}
.client-help:after {
    content: "";
    display: block;
    position: absolute;
    top: 67px;
    left: 160px;
    width: 1px;
    height: 34px;
    background-color: rgba(32, 34, 66, 0.3);
}
